1. Why Learn Pandas?
What is it?

Pandas is a Python library for data manipulation and analysis. It provides Series (1D) and DataFrames (2D tabular data).
 
Why we need it?
1.Simplifies data cleaning, exploration, and manipulation.
2.Handles large datasets efficiently.
3.Built on top of NumPy for fast computations.
 

 ### Applications of numpy:

 1. Data analysis
 2. Machine learning
 3. Deep learning
 4. Image processing


 ### why do we use pandas

 We use pandas

In [30]:
import pandas as pd

In [31]:
from pandas import Series
s = pd.Series([10, 20, 30, 40]) 
print(s)
data = {'Name': ['Alice','Bob','Charlie'], 'Age':[25,30,35]} 
df=pd.DataFrame(data)
print(df)

0    10
1    20
2    30
3    40
dtype: int64
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [32]:
df = pd.read_csv("tested.csv")
 
# Example DataFrame
data = {'Name':['Alice','Bob','Charlie'],'Age':[25,30,35],'Sex':['F','M','M']}
df = pd.DataFrame(data)
 
# Explore
print(df.head())
print(df.tail())
print(df.info())
print(df.describe())
print(df.shape)

      Name  Age Sex
0    Alice   25   F
1      Bob   30   M
2  Charlie   35   M
      Name  Age Sex
0    Alice   25   F
1      Bob   30   M
2  Charlie   35   M
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Sex     3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes
None
        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0
(3, 3)

In [33]:
print(df["Name"])
print(df[["Name","Age"]])
print(df.iloc[0])
print(df.loc[0])
print(df.loc[0:1,["Name","Age"]])

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
Name    Alice
Age        25
Sex         F
Name: 0, dtype: object
Name    Alice
Age        25
Sex         F
Name: 0, dtype: object
    Name  Age
0  Alice   25
1    Bob   30

In [34]:
# Filter rows
print(df[df['Age'] > 28])
 
# Sort by Age
print(df.sort_values('Age', ascending=False))

      Name  Age Sex
1      Bob   30   M
2  Charlie   35   M
      Name  Age Sex
2  Charlie   35   M
1      Bob   30   M
0    Alice   25   F

In [35]:
#7. Adding & Removing Columns
# Add new column
df['Age_in_5yrs'] = df['Age'] + 5
print(df)
 
# Drop column
df = df.drop('Age_in_5yrs', axis=1)
print(df)

      Name  Age Sex  Age_in_5yrs
0    Alice   25   F           30
1      Bob   30   M           35
2  Charlie   35   M           40
      Name  Age Sex
0    Alice   25   F
1      Bob   30   M
2  Charlie   35   M

In [36]:
#8. GroupBy & Aggregation
data = {'Name':['Alice','Bob','Charlie','Alice','Bob'],
        'Score':[85,90,95,80,70]}
df = pd.DataFrame(data)
 
# Group by Name and calculate mean score
grouped = df.groupby('Name').mean()
print(grouped)

         Score
Name
Alice     82.5
Bob       80.0
Charlie   95.0

In [ ]:
#9. Handling Missing Data
data = {'Name':['Alice','Bob','Charlie','David'],
        'Age':[25, None, 35, 40]}
df = pd.DataFrame(data)
 
# Fill missing value
df['Age'] = df['Age'].fillna(df['Age'].mean())
print(df)

      Name        Age
0    Alice  25.000000
1      Bob  33.333333
2  Charlie  35.000000
3    David  40.000000

In [39]:
# Drop rows with missing values
df = df.dropna()

print(df)

      Name        Age
0    Alice  25.000000
1      Bob  33.333333
2  Charlie  35.000000
3    David  40.000000